header {
  height: 480px;
  background: url('~assets/images/banner.jpg') no-repeat center center;

  .header-wrap {
    max-width: 1800px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {

    ul,
    li {
      list-style: none;
    }

    .main-menu {
      display: flex;

      >li {
        padding-right: 20px;
        min-width: 100px;
        height: 35px;
        display: flex;

        a {
          display: block;
          color: #fff;
          line-height: 35px;
        }
      }
    }

    .dropdown-menu {
      display: none;
    }
  }
}